<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Papers </title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../assets/lib/TextInputEffects/css/set2.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->



    <!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
    <![endif]-->

    <!--[if gt IE 8]><!-->

        <link rel="stylesheet" href="../assets/css/pricing.css">
        <link rel="stylesheet" href="../assets/css/blog.css">
    <!--<![endif]-->

</head>
<body>


    <div class="pure-menu pure-menu-horizontal normal fixed">
        <a href="#" class="pure-menu-heading">Chrus Research</a>
        <ul class="pure-menu-list fl-right">
            <li class="pure-menu-item"><a href="/search" class="pure-menu-link">Search  <i class="fa fa-search"></i></a></li>


            <li class="pure-menu-item  pure-menu-has-children pure-menu-allow-hover name-nav">
                <a href="#" id="db-menu-dropdown" class="pure-menu-link "><i class="fa fa-user"></i></a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                        <a href="/controlpanel" class="pure-menu-link">Control Panel <i class="fa fa-server"></i></a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/papers" class="pure-menu-link">My Papers</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/login" class="pure-menu-link">Logout <i class="fa fa-sign-out"></i></a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>


    <div class="delete-content pure-u-1 pure-u-md-3-4">
        <a href="/controlpanel" class="button-choose pure-button delete-back-btn"><i class="fa fa-arrow-left"></i>
 Back to Control Panel</a>
        <div>

          <% if (papers.length > 0){ %>
          <div class="posts">
              <!-- A single paper -->
              <% for(var i=0; i<papers.length; i++) {%>
                  <section class="post">
                      <h1 class="content-subhead"></h1>
                      <header class="post-header">
                          <!-- Paper Title -->
                          <h2 class="post-title"> <%= papers[i].title %> </h2>
                          <!-- Paper Title end -->
                          <!-- Author -->
                          <p class="post-meta">
                            <% papers[i].authors.forEach(function(author) {%>
                              By <a href="#" class="post-author">
                                  <%= author.fName + " " + author.lName %>
                              </a>
                            <% }) %>
                          <!-- Author end -->
                              under
                              <!-- Keywords -->
                              <% if (papers[i].keywords){ %>
                              <% papers[i].keywords.forEach(function(keyword) {%>
                                  <a class="post-category post-category-design" href="#">
                                      <%= keyword %>
                                  </a>
                              <% }) %>
                              <% } %>
                              <!-- Keywords end -->
                          </p>
                      </header>
                          <!-- abstract -->
                          <div class="post-description">
                              <p>
                                  <%= papers[i].abstract %>
                              </p>
                          </div>
                          <!-- abstract end -->
                          <!-- citations start-->
                          <div class="post-description citations">
                              <p>
                                  <%= papers[i].citation %>
                              </p>
                          </div>
                          <!-- citations end -->
                  </section>
              <% } %>
              <!-- Single paper end -->
              <!--end of ejs-->
          </div>

          <% } %>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../assets/js/startPages.js"></script>
<script src="../assets/lib/TextInputEffects/js/classie.js"></script>
        <script>
            (function() {
                // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
                if (!String.prototype.trim) {
                    (function() {
                        // Make sure we trim BOM and NBSP
                        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                        String.prototype.trim = function() {
                            return this.replace(rtrim, '');
                        };
                    })();
                }

                [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                    // in case the input is already filled..
                    if( inputEl.value.trim() !== '' ) {
                        classie.add( inputEl.parentNode, 'input--filled' );
                    }

                    // events:
                    inputEl.addEventListener( 'focus', onInputFocus );
                    inputEl.addEventListener( 'blur', onInputBlur );
                } );

                function onInputFocus( ev ) {
                    classie.add( ev.target.parentNode, 'input--filled' );
                }

                function onInputBlur( ev ) {
                    if( ev.target.value.trim() === '' ) {
                        classie.remove( ev.target.parentNode, 'input--filled' );
                    }
                }
            })();
        </script>



</body>
</html>
